<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>CATS!!!</title>
  </head>
  <h1> Our Cats </h1>
  <body>
<% @cats.each do |cat| %>
  <li>
    <%= link_to "cat.name", cat_url(cat) %>
  </li>
  </body>
</html>
